.footer__logo {
  margin-bottom: 25px;
  display: block;
}

@media screen and (max-width: 1060px) {
  .footer__logo {
    width: 82px;
    height: 18px;
  }
}

@media screen and (max-width: 767px) {
  .footer__logo {
    width: 52px;
    height: 11px;
  }
}
