.footer__links {
  display: grid;
  max-width: 686px;
  grid-template-columns: repeat(auto-fill, 128px);
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 58px;
  grid-row-gap: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}

@media screen and (max-width: 1060px) {
  .footer__links {
    grid-template-columns: repeat(auto-fill, 117px);

    grid-column-gap: 30px;
    grid-row-gap: 10px;
  }
}

@media screen and (max-width: 767px) {
  .footer__links {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
