footer(class="page__footer footer")
  div(class="footer__container")
    div(class="footer__social")
      a(href="https://selectel.ru/" class="")
        img(src="./images/LOGO.png", alt="логотип Selectel" class="footer__logo")
      div(class="footer__social-icons")
        a(href="https://vk.com/selectel")
          img(src="./images/vk.svg", alt="vk" class="footer__icon footer__icon_vk")
        a(href="https://twitter.com/selectel")
          img(src="./images/twitter.svg", alt="twitter" class="footer__icon footer__icon_twitter")
        a(href="https://www.facebook.com/selectel/")
          img(src="./images/facebook.svg", alt="facebook" class="footer__icon footer__icon_fb")
        a(href="https://www.instagram.com/selectel.ru/")
          img(src="./images/inst.svg", alt="instagram" class="footer__icon footer__icon_instagram")
    nav(class="footer__nav")
      ul(class="footer__links")
        li(class="")
          a(href="https://selectel.ru/" target="_blank" class="footer__links-item link") Серверы
        li(class="")
          a(href="https://selectel.ru/" target="_blank" class="footer__links-item link") Оборудование
        li(class="")
          a(href="https://selectel.ru/" target="_blank" class="footer__links-item link") Дата-центры
        li(class="")
          a(href="https://selectel.ru/" target="_blank" class="footer__links-item link") Блог
        li(class="")
          a(href="https://selectel.ru/" target="_blank" class="footer__links-item link") Облако
        li(class="")
          a(href="https://selectel.ru/" target="_blank" class="footer__links-item link") Решения
        li(class="")
          a(href="https://selectel.ru/" target="_blank" class="footer__links-item link") О компании
        li(class="")
          a(href="https://selectel.ru/" target="_blank" class="footer__links-item link") Офисы