
header(class="page__header header")
  a(href="https://selectel.ru/" target="_blank" class="header__logo-link")
    img(src="./images/LOGO.png", alt="логотип Selectel" class="header__logo")
  nav(class="header__navigation")
    ul(class="header__list")
      li(class="hader__list-item")
        a(href="tel:+7(800)5550675" class="header__link link")
          img(src="./images/tel.svg", alt="иконка телефон" class="header__nav-icon")
          span(class="header__icon-value") +7 (800) 555-06-75
      li(class="hader__list-item")
        a(href="mailto:sales@selectel.ru" class="header__link link")
          img(src="./images/mail.svg", alt="иконка письмо" class="header__nav-icon")
          span(class="header__icon-value") Написать на почту
      li(class="hader__list-item")
        a(href="https://t.me/Selectel", target="_blank"  class="header__link link")
          img(src="./images/telegram.svg", alt="иконка бумажный самолет telegram" class="header__nav-icon")
          span(class="header__icon-value") Написать в Telegram
