section(class="page__promo promo")
  div(class="promo__block-description")
    h1(class="promo__title") Надежные серверы для проектов любой сложности
    p(class="promo__subtitle") Выделенный сервер — это аренда сервера под задачи вашего проекта с возможностью свободно распоряжаться ресурсами машины и установки любого программного обеспечения.
    form(action="https://selectel.ru/", target="_blank")
      button(class="promo__button")  Готовые серверы
  picture
    source(media="(max-width: 767px)", srcset="./images/server-320.svg")    
    img(src="./images/server.svg", alt="изображение сервера" class="promo__image")
  //- img(src="" alt="изображение сервера" class="promo__image-mobil")