.header__logo {
  height: 24px;
  width: 112px;
}

@media screen and (max-width: 1060px) {
  .header__logo {
    width: 82px;
    height: 18px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 52px;
    height: 11px;
  }
}
