.page__promo {
  margin-top: 25px;
  margin-bottom: 8px;
}

@media screen and (max-width: 1060px) {
  .page__promo {
    margin-top: 30px;
  }
}

@media screen and (max-width: 1060px) {
  .page__promo {
    margin-top: 32px;
  }
}
