@import "./__promo/page__promo.scss";
@import "./__configuration/page__configuration.scss";

.page {
  width: calc(900 / 1200 * 100%);
  margin: auto;
}

@media screen and (max-width: 1060px) {
  .page {
    width: 92%;
  }
}
