.card__CPU {
  display: flex;
  flex-direction: column;
  width: 128px;
}

@media screen and (max-width: 1060px) {
  .card__CPU {
    width: 130px;
  }
}
@media screen and (max-width: 767px) {
  .card__CPU {
    width: 100%;
    flex-direction: row;
    margin-bottom: 16px;
  }
}
