.configuration__card-list {
  // display: -ms-grid;
  // display: grid;
  // -ms-grid-rows: 100% 12px;
  // grid-gap: 12px;
  // grid-template-rows: 1fr;
  display: flex;
  margin-bottom: 12px;
  width: 100%;
}

@media screen and (max-width: 1060px) {
  .configuration__card-list {
    margin-bottom: 16px;
  }
}
